pipeline/ingest storage to datalake account.json
{
	"name": "ingest storage to datalake account",
	"properties": {
		"description": "Ingest data from storage into the data lake, and thereafter remove the files from the storage account.",
		"activities": [
			{
				"name": "look up the file names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_mongodb_httpslist_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each source list",
				"description": "Takes each source list",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "look up the file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('look up the file names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get metadata storage source file",
							"description": "Get source data from the storage account.",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_mongodb_json",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							}
						},
						{
							"name": "Check if data is available",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get metadata storage source file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get metadata storage source file').output.Size,0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy storage to datalake",
										"description": "copy the data from storage to datalake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_mongodb_json",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_raw_mongodb_json",
												"type": "DatasetReference",
												"parameters": {
													"sinkFileName": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Delete storage files",
										"description": "Removes the files",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "copy storage to datalake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_mongodb_json",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"hi": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingestion pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-09T14:28:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}